<body style="background-color: CornflowerBlue">
<div class="container">
<div class="container">


<br>
<div class="container" style="margin-top: 20px">
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">  
  <table class="table table-bordered">
      <tr>
      <th scope="col"><h3 style="color:white" >Lista de notas:</h3></th>
    </tr>
  </thead>
  <% @notes.each do |note|%>
  <%if note.status.chomp.to_i==0 %>
  <tr><td><p><%= link_to note.titulo, note_path(note.id), class: "btn btn-success"%></p></td></tr>
  <%else%>
  <tr><td><p><%= link_to note.titulo, note_path(note.id), class: "btn btn-danger"%></p></td></tr>
<%end end%>
</table></div>
  <div class="col-sm-4"></div>
</div>
</div>
</div>

